<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Oauth2 Proxy For Multiple Domains.
        </a>
    </div>

</div>
</nav>