<meta charset="UTF-8">
<title>Oauth2 Proxy For Multiple Domains.</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:5px; }
</style>

