<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <button id="dashboard" class="float-left submit-button" >Dashboard</button>
    <script type="text/javascript">
    	document.getElementById("dashboard").onclick = function () {
        location.href = "https://dashboard.example.com";
    };
	</script>
	<button id="grafana" class="float-left submit-button" >Grafana</button>
    <script type="text/javascript">
    	document.getElementById("grafana").onclick = function () {
        location.href = "https://grafana.example.com";
    };
	</script>
  </body>
</html>