<!DOCTYPE html>
<html>
  <head>
    <% include ./head %>
  </head>
  <header>
    <% include ./header %>
  </header>
  <body>
    <ul>
    <% dashboards.forEach(function(dashboard) { %>
    <button id='<%= dashboard.name %>' class="btn btn-primary float-left submit-button" ><%= dashboard.name %></button>
    <script type="text/javascript">
      document.getElementById('<%= dashboard.name %>').onclick = function () {
        location.href = "<%= dashboard.link %>";
    };
    </script>
    <% }); %>
  </ul>
  </body>
</html>